@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("fonts/Poppins-Bold.ttf");
}

body {
    font-family: Poppins;
    background-color: black;
    color: white;
}

* {
    padding: 5px;
}

.blinded-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

pixel {
    color: #8dce75;
}